extends _layouts/default

block vars
  - var _htmlClass='error'

block title
  | Page not found &middot; PubStorm

block body
  section#not-found
    .container
      h1
        | 404
        =' '
        i.fa.fa-meh-o

      .desc
        h3 Page Not Found

        p This page does not exist.
        P If this is your site, please make sure that the name of the html page matches the URL. The URL is case-sensitive.
        p
          | To serve the root URLs such as
          =' '
          code http://example.pubstorm.com/
          | , you must include an
          =' '
          code index.html
          |  file in your project.
        p
          | Visit
          =' '
          a(href='http://help.pubstorm.com/') Pubstorm Help
          |  to learn more about publishing your website on PubStorm.

  include _partials/footer
