extends _layouts/default

block vars
  - var _htmlClass='features'
  - var pageName='Features'

block title
  | Features &middot; PubStorm

block body
  include _partials/header

  section#features
    .container
      h2 PubStorm Features
      .row
        .col-md-12
          .page-content
            .row
              .col-xs-12.col-md-4
                h4
                  i.fa(class='fa-globe')
                  | PubStorm CDN
                p Every project deployed on PubStorm is served up via our lightning fast CDN.
                p As our nodes are located all over the world, your pages can be served instantly and are instantly scalable, providing the best global user experience.

              .col-xs-12.col-md-4
                h4
                  i.fa(class='fa-lock')
                  | SSL on Every Site
                p Protect your content, users, and optimize your site for SEO.
                p Set up a Let's Encrypt SSL cert for your website in seconds, for free.

              .col-xs-12.col-md-4
                h4
                  i.fa(class='fa-file-archive-o')
                  | Asset Optimization
                p Website assets are optimized on every deploy, doing things including minifying css and javascript and optimizing images.
                p Deploy new updates in seconds and deliver blazing fast speeds on mobile, tablet, or desktop.

            .row.hidden-xs
              br

            .row
              .col-xs-12.col-md-4
                h4
                  i.fa(class='fa-map-signs')
                  | Custom Domains
                p Discover and add custom domains with a few commands using the CLI, increasing your productivity and keeping you in the flow.

              .col-xs-12.col-md-4
                h4
                  i.fa(class='fa-undo')
                  | Backups &amp; Rollbacks
                p Revert and resolve issues with your sites in minutes.
                p With PubStorm, push updates to your website knowing previous versions are easily accessible for redeployment.

              .col-xs-12.col-md-4
                h4
                  i.fa(class='fa-bar-chart')
                  Visitor Visitor Analytics
                p PubStorm keeps you updated on website activity, including total bandwidth consumed, unique visitors, and popular pages.
                p Stay informed and make the smartest decisions when updating your sites.

            .row
              br

            .row.cli-command
              .col-xs-12.col-md-6.col-md-offset-3
                h3(style="text-align:center;margin-bottom: 16px") Paste this command in your terminal:
                .input-group.input-group-lg
                  span.input-group-btn
                    button.copy-npm-cmd-btn.btn.btn-default.btn-lg(type='button' data-toggle='tooltip' data-placement='bottom' title='Copy to clipboard')
                      i.fa.fa-clipboard
                  input.form-control.npm-cmd(type='text' readonly=true value='npm install -g pubstorm')

  include _partials/cta_hero

  include _partials/footer
  include _partials/app_js
