extends _layouts/default

block vars
  - var _htmlClass='home'

block body
  header
    .nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            | PubStorm
            =' '
            sup Beta

        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            //-
              li
                a(href='#') Pricing
            li
              a(href='http://help.pubstorm.com') Help
            //-
              li
                a(href='#') Community

    main.jumbotron
      .container
        h1
          | Free HTML5 Web Publishing
          br.hidden-xs
          |  and Hosting for Developers
        p
          | Deploy unique HTML5 websites and static web applications to
          br.hidden-xs
          |  a superfast global CDN with custom domains within seconds.
        .input-group.input-group-lg
          span.input-group-btn
            button.copy-npm-cmd-btn.btn.btn-default.btn-lg(type='button' data-toggle='tooltip' data-placement='bottom' title='Copy to clipboard')
              i.fa.fa-clipboard
          input.form-control.npm-cmd(type='text' readonly=true value='npm install -g pubstorm')

        button.get-started-btn.btn.btn-lg(type='button' data-toggle='tooltip' data-placement='bottom' title="It's Free!")
          | Get Started

  section#features
    .container
      .row
        .feature.col-xs-12.col-sm-6.col-md-4
          i.fa.fa-globe
          h3 Production Grade CDN
          p Our CDN provides quick pageloads to visitors around the globe.
        .feature.col-xs-12.col-sm-6.col-md-4
          i.fa.fa-tachometer
          h3 Infinitely Scalable
          p Our cloud automatically scales to handle any amount of traffic.
        .feature.col-xs-12.col-sm-6.col-md-4
          i.fa.fa-file-archive-o
          h3 Asset Optimization
          p Your files are automatically processed for size and speed.

        .clearfix.visible-md-block.visible-lg-block

        .feature.col-xs-12.col-sm-6.col-md-4
          i.fa.fa-map-signs
          h3 Custom Domains
          p Have a piece of the Internet with your own domain name.
        .feature.col-xs-12.col-sm-6.col-md-4
          i.fa.fa-undo
          h3 Backups and Rollbacks
          p Made a mistake? Undo it instantly before anyone notices.
        .feature.col-xs-12.col-sm-6.col-md-4
          i.fa.fa-bar-chart
          h3 Visitor Statistics
          p Monitor and learn more about your website traffic.

  section#demo
    .container
      .terminal.window
        .titlebar
          .control
          .control
          .control
        .window-body
          code
            span.cli
              span.t1
                | >
                =' '
              span.t2 storm publish
              span.t3
                br
                | Scanning "/Users/erin/erins-blog"...
              span.t4
                br
                span.blue
                  | [Info]
                |  Bundling 37 files (17.3 MiB)...
              span.t5
                br
                br
                | Packing bundle "erins-blog"...
                br
                | [
                span.blue.cli-progress-bar
                  | ========================================
                | ]
                =' '
                span.cyan
                  span.cli-progress-percentage 100.0
                  | %
              span.t6
                br
                br
                | Uploading bundle "erins-blog" to PubStorm Cloud...
                br
                | [
                span.blue.cli-progress-bar
                  | ========================================
                | ]
                =' '
                span.cyan
                  span.cli-progress-percentage 100.0
                  | %
              span.t7
                br
                br
                | Launching...
              span.t8
                br
                span.blue
                  | [Info]
                  =' '
                  ins https://erins-blog.pubstorm.site/
                  |  published on PubStorm Cloud.
                br
                | >
                =' '
            span.cursor
      .browser.window
        .titlebar
          .control
          .control
          .control
          .left-nav-btn.titlebar-btn.hidden-xs
            i.fa.fa-chevron-left
          .right-nav-btn.titlebar-btn.hidden-xs
            i.fa.fa-chevron-right
          .url-field.titlebar-btn
            span erins-blog.pubstorm.site
        .window-body
          .blog

  section#tools
    .container
      h2 Works with all the tools you love

      ul
        li.html5
          span.sr-only HTML5
        li.js
          span.sr-only JavaScript
        li.jekyll
          span.sr-only Jekyll
        li.hexo
          span.sr-only Hexo
        li.middleman
          span.sr-only Middleman
        li.separator.hidden-xs
        li.hugo
          span.sr-only Hugo
        li.ember
          span.sr-only Ember
        li.react
          span.sr-only React
        li.angular
          span.sr-only Angular
        li.gulp
          span.sr-only Gulp
        li.grunt
          span.sr-only Grunt

  section#get-started
    .container
      h2 Get Started

      ol
        li
          h3 Install Node and npm
          p
            | Node.js comes with a great package manager called npm. Even though the PubStorm
            |  command line tool isn&rsquo;t written in JavaScript, it is distributed as an npm
            |  package to make it really easy for you to install and update the tool.
          p
            a(href='https://nodejs.org/en/download/') Download and install a recent version of Node.js.

        li
          h3 Install PubStorm npm package
          p
            | Open a command line session. It is called &ldquo;Command Prompt&rdquo; on Windows,
            |  &ldquo;Terminal&rdquo; on OS X, and you should know what you are doing if you are
            |  using a Linux or BSD based system.
          p
            | Run
            =' '
            code npm install -g pubstorm
            |  to get PubStorm command line tool. Try running
            =' '
            code sudo npm install -g pubstorm
            |  if you get a permission error.

        li
          h3 Create a PubStorm account
          p
            | Once the PubStorm command line tool is installed, you can access it by entering
            =' '
            code storm
            |  in the command line. To publish a web site on PubStorm, you&rsquo;ll need a PubStorm account.
          p
            | To create a PubStorm account, run
            =' '
            code storm signup
            |  and follow the instructions on the screen.

        li
          h3 Initialize a PubStorm project
          p In the command line, navigate to the root folder of your project.
          p
            | Run
            =' '
            code storm init
            |  and follow the instructions on the screen. When asked for the &ldquo;Project Path&rdquo;,
            |  enter the path to the folder that contains the assets (HTML, CSS, JS and other assets like
            |  images) that you want to publish. If you are using  a static site generator, enter the path
            |  to the folder that contains the build output. For example, if you are using Jekyll, enter
            =' '
            code _site
            |  as the project path.

        li
          h3 Publish your your project
          p
            | Once your assets are ready, run
            =' '
            code storm publish
            |  to publish your project.
          p
            |  If you are using a static site generator, you have to build your project before publishing.
            |  For example, if you are using Jekyll, run
            =' '
            code jekyll build
            |  to ensure your site is built before running
            =' '
            code storm publish
            | .

        li
          h3 Add a custom domain
          p
            | After the publish command is finished, your site will be live on a
            =' '
            code .pubstorm.site
            |  domain.
          p
            | To add a custom domain that you own, run
            =' '
            code storm domains add
            |  and follow the instructions on the screen.

          p
            | For more information, please visit
            =' '
            a(href='http://help.pubstorm.com') PubStorm Help
            | .

  include _partials/footer

  script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
  script(src='/js/app.js')
  include _partials/ga

// Storm clouds photo by Carl Wycoff
