extends _layouts/default

block vars
  - var _htmlClass='legal'
  - var pageName='Privacy Policy'

block title
  | Privacy Policy &middot; PubStorm

block body
  include _partials/header

  section#legal
    .container
      h2 Privacy Policy

      .body
        p
          em Last Updated on April 30, 2016
        p
          em Effective April 30, 2016

        p Nitrous, Inc. the makers and owners of Nitrous (&ldquo;Nitrous&rdquo; or the &ldquo;Company&rdquo;) is committed to protecting the privacy of your information. In this privacy policy (the &ldquo;Policy&rdquo;) we describe how we collect, use, and disclose information that we obtain about visitors to or users of our website www.nitrous.io (the &ldquo;Site&rdquo;), as well as through our platform services (the &ldquo;Services&rdquo;).    Our Privacy Policy does not cover the websites or information practices of other companies and organizations that use our Services.
        p Your use of our Site or Services, and any dispute over privacy, is subject to this Policy and our Terms of Service, including its applicable limitations on damages and the resolution of disputes. The Nitrous Terms of Use are incorporated by reference into this Policy.

        h4 1. Information Collected
        p Nitrous collects information from individuals who visit the Company&rsquo;s Site (&ldquo;Visitors&rdquo;) and individuals who register to use the Services (&ldquo;Customers&rdquo;).  In addition, we may collect, handle and host data on behalf of Customers (&ldquo;Customer-Owned Data&rdquo;). Customer-Owned Data is subject to our Customers&rsquo; privacy policies, not this one.
        p
          strong Information We Collect Directly from You.
          |  Certain areas and features of our Site and Services require registration. When expressing an interest in obtaining additional information about the Services or registering to use the Services, Nitrous requires you to provide the Company with personal contact information, such as name, company name, address, phone number, and email address. When purchasing the Services, Nitrous requires you to provide the Company with financial qualification and billing information, such as billing name and address, credit card number, and the number of employees within the organization that will be using the Services (&ldquo;Billing Information&rdquo;). Nitrous may also ask you to provide additional information, such as company annual revenues, number of employees, and industry (&ldquo;Optional Information&rdquo;). Required Contact Information, Billing Information, and Optional Information are referred to collectively as &ldquo;Data About Nitrous Customers.&rdquo;
        p
          strong Information We Collect Automatically.
          |  As you navigate the Site or use the Services, Nitrous may also automatically collect information through the use of cookies, web beacons, java script, log files, and other technologies (&ldquo;Usage Information&rdquo;). Usage Information includes standard information from your Web browser (such as browser type and browser language); your IP address; and the actions you take on the Site or through the Services (such as the pages viewed and the links clicked, time logged in, activities taken); your domain name; your operating system; the length of time you visit our Site and or use our Services; and the referring URL, or the webpage that led you to our Site.  We may combine this information with other information that we have collected about you, including, where applicable, your user name, name, and other personal information. Please see the section &ldquo;Cookies and Other Tracking Mechanisms&rdquo; below for more information.

        h4 2. Use of Information Collected
        p Nitrous uses Customer-Owned Data, Data About Nitrous Customers and Usage Information as follows:

        ul
          li To provide our Services to you, to communicate with you about your use of our Services, to respond to your inquiries, to fulfill your orders, and for other customer service purposes. The Company uses to perform the services requested. For example, if you fill out a &ldquo;Contact Me&rdquo; Web form, the Company will use the information provided to contact you about your interest in the Services.
          li To tailor the content and information that we may send or display to you, to offer location customization, and personalized help and instructions, and to otherwise personalize your experiences while using the Site or our Services.
          li We may use Data About Nitrous Customers and Usage Information, as well as other aggregate or de-identified information for marketing and promotional purposes. For example, we may email our Customers news and newsletters, special offers, and promotions, or to otherwise contact you about products or information we think may interest you. We also may use the information that we learn about you to assist us in advertising our Services on third party websites.
          li To better understand how users access and use our Site and Services, both on an aggregated and individualized basis, in order to improve our Site and Services and respond to user desires and preferences, and for other research and analytical purposes.  We may also aggregate and de-identify Customer-Owned Data for additional research, analytical and other purposes.

        h4 3. Sharing of Information Collected
        p We may share the information we collect, including personal information, as follows:

        ul
          li Other Users. Your user name and any information that you post to our Site, including, without limitation, reviews, comments, and text will be available to, and searchable by, all users of the Site and Services.
          li Marketing Partners and Others. From time to time, Nitrous may partner with other companies to jointly offer products or services. If you purchase or specifically express interest in a jointly-offered product or service from Nitrous, the Company may share Data About Nitrous Customers collected in connection with your purchase or expression of interest. Such partners&rsquo; use of the information will be in accordance with their own privacy policies. In addition, we may share Data About Customers with select third parties who may use such data for marketing, research and similar purposes.
          li Affiliates. We may disclose the information we collect to our affiliates or subsidiaries; however, if we do so, their use and disclosure of your personally identifiable information will be subject to this Policy.
          li Service Providers. We may disclose the information we collect from you to third party vendors, service providers, contractors or agents who perform functions on our behalf.
          li Business Transfers. If we are acquired by or merged with another company, if substantially all of our assets are transferred to another company, or as part of a bankruptcy proceeding, we may transfer the information we have collected from you to the other company.
          li In Response to Legal Process. We also may disclose the information we collect from you in order to comply with the law, a judicial proceeding, court order, subpoena or other legal process.
          li To Protect Us and Others. We also may disclose the information we collect from you where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of our Terms of Use or this Policy, or as evidence in litigation in which Nitrous is involved.
          li Aggregate and De-Identified Information. We may share aggregate or de-identified information about users with third parties for marketing, advertising, research or similar purposes.

        h4 4. Cookies and Other Tracking Technologies
        p As noted above, Nitrous uses commonly-used information-gathering tools, such as cookies and web beacons, to collect Usage Information as you navigate the Site or use the Services. This section describes the types of Usage Information that may be collected on the Company&rsquo;s Site and how this information may be used.  We may combine the information we collect via cookies and other technologies with the other information we collect about you, including personal information.
        p Currently, our systems do not recognize browser &ldquo;do-not-track&rdquo; requests. You may, however, disable certain tracking as discussed in this section (e.g., by disabling cookies).
        p
          strong Cookies.
          |  Cookies are alphanumeric identifiers that we transfer to your computer&rsquo;s hard drive through your web browser for record-keeping purposes. Some cookies allow us to make it easier for you to navigate our Site and Services, while others are used to enable a faster log-in process or to allow us to track your activities at our Site and Service. When you visit the Company&rsquo;s Site, Nitrous&rsquo; servers send a cookie to your computer. Nitrous uses cookies that are session-based and persistent-based. Session cookies exist only during one session. They disappear from your computer when you close your browser software or turn off your computer. Persistent cookies remain on your computer after you close your browser or turn off your computer.  Nitrous may use information from cookies in combination with Data About Nitrous Customers to provide you with information about Nitrous and the Services.
        p
          strong Web Beacons.
          |  Nitrous uses web beacons (a/k/a clear GIFs or pixel tags) alone or in conjunction with cookies to compile information about usage of the Site and Services and interaction with emails from the Company. Web beacons are clear electronic images that can recognize certain types of information on your computer, such as cookies, when you viewed a particular Site tied to the Web beacon, and a description of a Site tied to the Web beacon. For example, Nitrous may place Web beacons in marketing emails that notify the Company when you click on a link in the email that directs you to one of the Company&rsquo;s Site. Nitrous uses Web beacons to operate and improve the Company&rsquo;s Site and email communications.  Nitrous may use information from Web beacons in combination with Data About Nitrous Customers to provide you with information about the Company and the Services.
        p
          strong Third Party Cookies and Analytics.
          |  Nitrous may engage third parties and use automated devices and applications operated by third parties (such as Google Analytics) to track and analyze usage and volume statistical information from individuals who visit the Company&rsquo;s Site. Nitrous may also use other third-party cookies to track the performance of Company advertisements. The information provided to third parties does not include personal information, but this information may be re-associated with personal information after the Company receives it.

        h4 5. Third Party Advertising
        p Nitrous may also contract with third-party advertising networks that collect IP addresses and other Usage Information on the Company&rsquo;s Site and on third-party Sites. Ad networks follow your online activities over time by collecting Usage Information through automated means, including through the use of cookies. They use this information to provide advertisements about products and services tailored to your interests. You may see these advertisements on other Sites. This process also helps us manage and track the effectiveness of our marketing efforts.  These third parties may be able to associate the information they collect with other information they have about you from other sources.
        p Third-party ad network providers, advertisers, sponsors and/or traffic measurement services may use cookies, JavaScript, web beacons (including clear GIFs), Flash LSOs, and other technologies to measure the effectiveness of their ads and to personalize advertising content to you. These third-party cookies and other technologies are governed by each third party&rsquo;s specific privacy policy, not this one. We may provide these third-party advertisers with information about your usage of our Site, App, and Services.

        h4 6. Public Forums, Refer a Friend, and Customer Testimonials
        p Nitrous may provide bulletin boards, blogs, or chat rooms on the Company&rsquo;s Site. Any personal information you choose to submit in such a forum may be read, collected, or used by others who visit these forums, and may be used to send you unsolicited messages. Nitrous is not responsible for the personal information you choose to submit in these forums.
        p Customers and Visitors may elect to use the Company&rsquo;s referral program to inform friends about the Company&rsquo;s Site. When using the referral program, the Company requests the friend&rsquo;s name and email address. Nitrous will automatically send the friend a one-time email inviting him or her to visit the Company&rsquo;s Site. Nitrous does not store this information.
        p Nitrous may post a list of Customers and testimonials on the Company&rsquo;s Site that contain information such as Customer names and titles. Nitrous obtains the consent of each Customer prior to posting any information on such a list or posting testimonials.

        h4 7. International Transfer of Information Collected
        p The information we collect is transferred to Nitrous in the US, and to our affiliates, subsidiaries, service providers and agents, who may be located in the United State or in other jurisdictions worldwide. The United States and these other jurisdictions to which we transfer information may not have equivalent data protection laws as your home jurisdiction.  By providing any information to us, or permitting us to collect information via the Services, you acknowledge and expressly consent to the transfer of such information to, and processing and storage of such information in the United States and any other jurisdiction in which we or our affiliates, subsidiaries, service providers or agents operate.

        h4 8. Communications Preferences
        p Nitrous offers Customers and Visitors who provide contact information a means to choose how the Company uses the information provided. You may manage your receipt of marketing and non-transactional communications by clicking on the &ldquo;unsubscribe&rdquo; link located on the bottom of the Company&rsquo;s marketing emails. Additionally, you may send a request specifying your communications preferences to support@nitrous.io. Please note that it may take up to 10 business days for us to process opt-out requests. If you opt-out of receiving emails about recommendations or other information we think may interest you, we may still send you e-mails about your account or any Services you have requested or received from us.

        h4 9. Correcting and Updating Your Information
        p Customers may update or change their registration information by logging in to their accounts at http://Nitrous. Please note that we may maintain copies of this information in our systems, even after you have updated it.

        h4 10. Security
        p Nitrous uses appropriate administrative, technical, and physical security measures to protect the information we collect. Please be aware that despite our efforts, no data security measures can guarantee 100% security.

        h4 11. Changes to this Privacy Statement
        p Nitrous reserves the right to change this Privacy Statement. Nitrous will provide notification of the material changes to this Privacy Statement through the Company&rsquo;s website in advance of the change taking effect, or via other means such as notice to your email address of record with us.

        h4 Contact Us
        p
          | Questions regarding this Privacy Statement or the information practices of the Company&rsquo;s Site should be directed to our email:
          =' '
          a(href='mailto:legal@pubstorm.com') legal@pubstorm.com
          |  or our mailing address: Nitrous, Inc., 501 Second Street, Suite 575, San Francisco, CA 94107.

  include _partials/footer
  include _partials/app_js
