extends _layouts/default

block vars
  - var _htmlClass='signup'
  - var pageName='Signup'

block title
  | Sign Up &middot; PubStorm

block body
  include _partials/header

  section#signup
    .container
      h2 Sorry, we are no longer accepting sign ups.

  //include _partials/react
  include _partials/app_js
