footer
  .container
    .row
      .col-xs-12.col-sm-3
        h4 Nitrous PubStorm
        ul
          li
            p
              | &copy; 2016 &nbsp;
              a(href="https://www.nitrous.io") Nitrous, Inc.
              |  All Rights Reserved.

      .col-xs-12.col-sm-2
        ul
          li
            h4 Company
          li
            a(href='/about') About
          li
            a(href='/terms-of-service') Terms of Service
          li
            a(href='/privacy-policy') Privacy Policy
          li
            a(href='/dmca') DMCA

      .col-xs-12.col-sm-2
        ul
          li
            h4 Learn More
          li
            a(href='https://www.nitrous.io') Nitrous
          li
            a(href='https://community.nitrous.io/posts') Blog
          li
            a(href='https://help.pubstorm.com/') Help

      .col-xs-12.col-sm-2
        ul
          li
            h4 Connect
          li
            a(href='https://www.twitter.com/nitrous') Twitter
          li
            a(href='https://www.facebook.com/NitrousIO/') Facebook

      .col-xs-12.col-sm-3.mailchimp
        include mailchimp
