footer
  .container
    .row
      .col-xs-12.col-sm-6.col-md-3.mailchimp
        h4
          | Nitrous PubStorm
        .hidden-xs
          include mailchimp

        p.muted
          | &copy; 2016 &nbsp;
          a(href="https://www.nitrous.io") Nitrous, Inc.
          |  All Rights Reserved.

      .col-xs-12.col-sm-3.col-md-2
        ul
          li
            h4 Company
          li
            a(href='/terms-of-service') Terms of Service
          li
            a(href='/privacy-policy') Privacy Policy
          li
            a(href='/dmca') DMCA

      .col-xs-12.col-sm-3.col-md-2
        ul
          li
            h4 Learn More
          li
            a(href='https://www.nitrous.io') Nitrous
          li
            a(href='https://blog.pubstorm.com/') Blog
          li
            a(href='https://help.pubstorm.com/') Help

      .col-md-1.hidden-sm.hidden-xs
        a(href="https://twitter.com/nitrous" target="_blank")
          i.fa.fa-twitter

        a(href="https://www.facebook.com/NitrousIO/" target="_blank")
          i.fa.fa-facebook

        a(href="https://www.linkedin.com/company/nitrous-io" target="_blank")
          i.fa.fa-linkedin
