footer
  .container
    h4 Nitrous PubStorm
    ul
      li &copy; 2016 Nitrous, Inc. All Rights Reserved.
      li
        a(href='/terms-of-service') Terms of Service
      li
        a(href='/privacy-policy') Privacy Policy
      li
        a(href='/dmca') DMCA
