header
  .nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          | Nitrous PubStorm
          =' '
          sup Beta

      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/features') Features
          li
            a(href='/pricing') Pricing
          li
            a(href='/templates') Templates
          li
            a(href='https://help.pubstorm.com') Help
          li
            a(href='https://blog.pubstorm.com') Blog
          li
            a.login(href='https://help.pubstorm.com/command-reference/storm-login/') Login
          li
            a.signup(href='/signup') Sign Up

  block header_body
