// Optimizely Universal Analytics Integration
//script.
//    window.optimizely = window.optimizely || [];
//    window.optimizely.push("activateUniversalAnalytics");

// Optimizely snippet
script(src="https://cdn.optimizely.com/js/7203132303.js")

