block vars
doctype html
html(class=_htmlClass)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    title
      block title
        | PubStorm: Powerful HTML5 web site and static web app publishing
    link(rel='icon' href='/images/favicon.ico')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700,200italic,400italic,600italic,700italic|Anonymous+Pro:400')
    link(rel='stylesheet' href='/css/app.css')

    include ../_partials/optimizely

  body
    block body
// Copyright (c) 2016 PubStorm. All Rights Reserved.
